body {
	background-image: url("fond.jpg");
	background-attachment: fixed;
	font-family: "Times New Roman", Times;
	margin: 0;
	padding: 0;
} 

p {
	text-align: center;
}

.banner {
	padding: 15px;
}


.menu  {
	margin: 0px;
	padding: 0px;
	background-color: #191970;
}


#menu {
	text-align: center;
	margin: 0;
	padding: 30px;
}

#menu li {
  display: inline;
  margin-right: 5px ;
  color: #fff ;
  background: #c00 ;
}

#menu li a {
  padding: 2px 50px ;
  background: #c00;
  color: white ;
  border: 4px solid black ;
  font: 15px "Trebuchet MS",Arial,sans-serif ;
  text-align: center ;
  text-decoration: none; 
}

#menu li a:hover {
  background: red ;
  text-decoration: none;
}


.status h1 {
	text-align: center;
	padding: 10px;

}


.status h2 {
	text-decoration: underline;
	text-align: center;
	padding:0px
	font-size:30px;
}

.status p {
	margin: 0;
	text-align: center;
	padding: 0px;
	font-size: 20px;
}

.regles h1 {
	text-align: center;
}

.regles h2 {
	text-align: center;
	text-decoration: underline;
}

.regles p {
	text-align: center;
	font-size: 20px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

.footer p {
	display: block;
	margin: 0;
	padding: 43px;
	background-color: #191970;
	text-align: center;
	color: white;
	font-size: 30px;

}

.journee img {
	display: inline-block;
}

iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.membres img {
	border-style: solid;
	border-width: 5px;
	text-align: center;
	padding: 0px;
}

@media screen and (max-width: 1260px)
{

	.menu
	 	{
		width: auto;
		margin-left: auto;
		text-align: left;
		background-color: #191970;
		}

	.footer p
	 	{
		width: auto;
		padding: auto;
		text-align: center;
		}

	img 
		{
			display: block;
			width:100%;
			height: auto;
		}

	#menu li a {
		display: flex;
		flex-direction: column;
	}

	.pdf {

		width: 100%;
	}


}